env:
  global:
    - MOCHA_INIT_TIMEOUT=600000
    - RECURSIVE=--recursive
  matrix:
  # Run tests in parellel
    - DEVICE=ios93 TEST=unit RECURSIVE=
    - DEVICE=ios93 TEST=e2e/driver IWDP=1
    - DEVICE=ios93 TEST=e2e/testapp
    - DEVICE=ios93 TEST=e2e/uicatalog
    - DEVICE=ios93 TEST=e2e/safari
language: node_js
os: osx
osx_image: xcode7.3
node_js: "10"
before_install:
  # Instruments fix:
  # https://github.com/travis-ci/travis-ci/issues/4218
  - ./bin/instruments-auth.sh
  - if [ -n "$IWDP" ]; then
      brew update;
      brew install ios-webkit-debug-proxy --HEAD;
    fi
before_script:
  - npm install
script:
  - npm run lint
  - npm run mocha -- $RECURSIVE build/test/$TEST -g @skip-ci -i --exit;
