sudo: required
env:
  # Run tests in parellel, up to 5 at once
  - DEVICE=ios84 TEST=commands FINAL_GULP=coveralls
  - DEVICE=ios84 TEST=e2e/testapp
  - DEVICE=ios84 TEST=e2e/uicatalog
language:
  - objective-c
osx_image: xcode6.4
before_install:
  # TavisCI's OSX environment gives us node 0.10.32
  # Use NVM to update it to 0.12
  - rm -rf ~/.nvm
  - git clone https://github.com/creationix/nvm.git ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm install 0.12
  # Instruments fix:
  # https://github.com/travis-ci/travis-ci/issues/4218
  - ./instruments-auth.sh
before_script:
  - npm install
  - npm install -g gulp
  - npm install -g mocha
script:
  - gulp transpile
  - mocha build/test/$TEST -g @skip-ci -i
  - if [ -n "$FINAL_GULP" ]; then gulp $FINAL_GULP; fi
